.App {
  font-family: sans-serif;
  text-align: center;
}

.topBar {
  height: 100;
  background-color: aqua;
}

.bottombar {
  height: 100;
  background-color: blue;
}

.content {
  height: 100vh;
  background-color: blue;
}
